# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.requirements.zip
.DS_Store

# virtualenv
venv/
exports/

# Serverless directories
.serverless
node_modules

# secrets
secret/
src/utils/__pycache__/twilio_utils.cpython-39.pyc

__pycache__/
Ejconcernbots.code-workspace
AWSCLIV2.pkg
